.follow-header {
  margin-top : 20px;
  margin-bottom : 40px;
}
.follow_title {
  position :relative;
  left : 118px;
}


.follow_list {
  padding-top : 15px;
  padding-bottom :15px;
  border-bottom: 1px solid #EEEEEE;
}

.follow_usericon {
  width : 40px;
  float : left ;
}

.follow_name {
  font-size :14px; 
  margin-left : 10px;
}